<div class="filter-values">
  <div class="storage-range filter-element">
    <label class="filter-title">Storage</label>
    <input
      type="range"
      [(ngModel)]="storageRngeValue"
      (ngModelChange)="storageRngeChange($event)"
      class="form-range"
      min="0"
      max="{{ storageFilterMax }}"
      step="1"
    />
    <span id="rangeval">{{ storageRngeDisplay }}</span>
  </div>

  <div class="ram filter-element">
    <label class="filter-title">Ram</label>

    <div *ngFor="let value of ram | keyvalue" class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        name="ram_checkbox{{ value.key }}"
        (change)="onRamCheckboxChange($event, value.key)"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault">{{
        value.value
      }}</label>
    </div>
  </div>

  <div class="hard-disk-type filter-element">
    <label class="filter-title">Hard Disk Type</label>

    <select name="hard-disk-type" [(ngModel)]="hardDiskSelect" (change)="onHddSelected($event)">
      <option value="">Select an option</option>
      <option *ngFor="let option of hardDiskOptions" value="{{ option }}">
        {{ option }}
      </option>
    </select>
  </div>

  <div class="location filter-element">
    <label class="filter-title">Location</label>

    <select name="location" [(ngModel)]="locationSelect" (change)="onLocationSelected($event)">
      <option value="">Select an option</option>
      <option *ngFor="let option of locationOptions" value="{{ option }}">
        {{ option }}
      </option>
    </select>
  </div>
</div>
