<div class="comparison" *ngIf="this.compareData.length > 0; else elseBlock">
    <div class="compare-block heading-block">
        <div class="item-value title">MODEL</div>
        <div class="item-value ram-block">RAM</div>
        <div class="item-value hdd-block">HDD</div>
        <div class="item-value location-block">LOCATION</div>
        <div class="item-value price-block">PRICE</div>
        <div class="item-value remove-block"></div>
    </div>
    <div class="compare-block compare-1" *ngFor="let item of this.compareData">
        <div class="item-value title">{{ item[0] }}</div>
        <div class="item-value ram-block">{{ item[1] }}</div>
        <div class="item-value hdd-block">{{ item[2] }}</div>
        <div class="item-value location-block">{{ item[3] }}</div>
        <div class="item-value price-block">{{ item[4] }}</div>
        <div class="item-value remove-block">
            <button type="button" class="btn btn-danger" (click)="removeCompare(item)">Remove</button>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <p class="empty-compare">Nothing to display in compare section!</p>
  </ng-template>