<div class="comparison">
    <div class="compare-block heading-block">
        <div class="item-value title">MODEL</div>
        <div class="item-value ram-block">RAM</div>
        <div class="item-value hdd-block">HDD</div>
        <div class="item-value location-block">LOCATION</div>
        <div class="item-value price-block">PRICE</div>
        <div class="item-value remove-block"></div>
    </div>
    <div class="compare-block compare-1">
        <div class="item-value title">HP DL120G7Intel Xeon E3-1240</div>
        <div class="item-value ram-block">16GBDDR3</div>
        <div class="item-value hdd-block">4x1TBSATA2</div>
        <div class="item-value location-block">Washington D.C.WDC-01</div>
        <div class="item-value price-block">$105.99</div>
        <div class="item-value remove-block">X</div>
    </div>
    <div class="compare-block compare-2">
        <div class="item-value title">HP DL120G7Intel Xeon E3-1240</div>
        <div class="item-value ram-block">16GBDDR3</div>
        <div class="item-value hdd-block">4x1TBSATA2</div>
        <div class="item-value location-block">Washington D.C.WDC-01</div>
        <div class="item-value price-block">$105.99</div>
        <div class="item-value remove-block">X</div>
    </div>
    <div class="compare-block compare-3">
        <div class="item-value title">HP DL120G7Intel Xeon E3-1240</div>
        <div class="item-value ram-block">16GBDDR3</div>
        <div class="item-value hdd-block">4x1TBSATA2</div>
        <div class="item-value location-block">Washington D.C.WDC-01</div>
        <div class="item-value price-block">$105.99</div>
        <div class="item-value remove-block">X</div>
    </div>
    <div class="compare-block compare-4">
        <div class="item-value title">HP DL120G7Intel Xeon E3-1240</div>
        <div class="item-value ram-block">16GBDDR3</div>
        <div class="item-value hdd-block">4x1TBSATA2</div>
        <div class="item-value location-block">Washington D.C.WDC-01</div>
        <div class="item-value price-block">$105.99</div>
        <div class="item-value remove-block">X</div>
    </div>
    <div class="compare-block compare-5">
        <div class="item-value title">HP DL120G7Intel Xeon E3-1240</div>
        <div class="item-value ram-block">16GBDDR3</div>
        <div class="item-value hdd-block">4x1TBSATA2</div>
        <div class="item-value location-block">Washington D.C.WDC-01</div>
        <div class="item-value price-block">$105.99</div>
        <div class="item-value remove-block">X</div>
    </div>
</div>