<div class="server-information"t>
    <div class="filter">
        <app-filters 
        *ngIf="filterInformation.length > 0"
        [filterInformation]="filterInformation"
        (dataEvent)="receiveStorageData($event)"
        ></app-filters>
    </div>
    
    <div class="list">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">MODEL</th>
                <th scope="col">RAM</th>
                <th scope="col">HDD</th>
                <th scope="col">LOCATION</th>
                <th scope="col">PRICE</th>
                <th scope="col">COMPARE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of serverInformation">
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>
                  <input type="checkbox" id="vehicle1" name="vehicle" value="Bike">
                </td>
              </tr>
              
            </tbody>
          </table>
          <div class="pagination">
              <label class="load">
                <a href="#" class="pre" (click)="loadMoreClick()">Load More</a>
              </label>
          </div>
    </div>
</div>
