.server-information {
    margin-top: 2%;
}

.filter {
    width: 25%;
    /* height: 200px; */
    float: left;
    border: solid 1px;
    margin: 0 4px 0 4px;
}

.list {
    width: 74%;
    float: left;
    border: solid 1px;
}

