.server-information {
    margin-top: 2%;
}

.filter {
    width: 25%;
    float: left;
    border: solid 1px;
    margin: 0 4px 0 4px;
}

.list {
    width: 74%;
    float: left;
    border: solid 1px;
}

a {
    text-decoration: none !important;
    color: black;
}

.pagination {
    margin: 0px 0 14px 46%;
}

a.pre {
    padding-right: 20px;
}
